

/* Normal desktop :1365px. */
@media (min-width: 1365px) and (max-width: 1565px) {
    .home-2 .main-menu-area ul > li a {
        margin: 0 5px;
    }
    
    }
    
    /* Normal desktop :992px. */
    @media (min-width: 992px) and (max-width: 1169px) {
    .main-menu-area ul > li a {
      margin: 0 6px;
    }
    .main-menu-area ul li .mega-menu {
      width: 800px;
    }
    .single-banner.mb-36 {
      margin-bottom: 19px;
    }
    .product-details .product-rating::before {
      width: 56px;
    }
    .product-details .product-rating::after {
      width:56px;
    }
    .single-slider .slider-content .slider-text h1 {
      font-size: 180px;
    }
    .single-slider .slider-content .slider-text h2 {
      font-size: 90px;
    }
    .add-to-link {
      top: 46%;
    }
    .single-inner .inner-text h3 {
      font-size: 17px;
    }
    .single-footer .location .location-text {
      float: left;
      width: 80%;
    }
    .footer-mid-area .copy-right-area p {
      font-size: 13px;
    }
    .product-details-2 p {
      margin-top: 10px;
    }
    .product-details-2 {
      margin-bottom: 15px;
    }
    .product-details-2 > a {
      margin-bottom: 15px;
    }
    .author-destils .author-right ul li {
      margin-left: 12px;
    }
    .skill-content h3 {
      font-size: 25px;
    }
    .home-2 .main-menu-area ul > li a {
      font-size: 14px;
    }
    .single-testimonial .testimonial-content p {
      font-size: 13px;
    }
    .best-seller-area .product-details .product-rating::before {
      width: 50px;
    }
    .best-seller-area .product-details .product-rating::after {
      width: 50px;
    }
    .del-area .product-details .product-rating::before {
      width: 80px;
    }
    .del-area .product-details .product-rating::after {
      width: 80px;
    }
    .mb-28 {
      margin-bottom: 24px;
    }
    .home-3 .container-inner-area .slider-content-2 {
      top: 10%;
    }
    .banner-area-4 .single-banner .banner-content a {
      margin-top: 0px;
    }
    .home-4 .product-details .product-rating::before {
      width: 56px;
    }
    .home-4 .product-details .product-rating::after {
      width: 56px;
    }
    .main-menu-area ul > li {
        margin-right: 5px;
    }
    .home-2 .main-menu-area ul > li a {
        margin: 0 3px;
    }
    .home-2 .main-menu-area ul li .mega-menu {
        width: 600px;
    }
    .home-4 .main-menu-area ul > li {
        padding: 10px 20px;
    }
    .home-4 .slider-text-3 a {
        margin-top: 0px;
    }
    
    
    
    
    }
    
     
    /* Tablet desktop :768px. */
    @media (min-width: 768px) and (max-width: 991px) {
    .main-menu-area.sticky {
      position: static;
       box-shadow: none !important;
    }
    .single-slider .slider-content .slider-text h2 {
      font-size: 70px;
      line-height: 15px;
    }
    .single-slider .slider-content .slider-text h1 {
      font-size: 116px;
    }
    .single-slider .slider-content .slider-text h3 {
      font-size: 38px;
      padding-top: 36px;
    }
    .single-slider .slider-content .slider-text a {
      margin-top: 0px;
    }
    .banner-text h1 {
      font-size: 180px;
      line-height: 200px;
    }
    .single-post .post-content h3 a {
      font-size: 14px;
    }
    .newsletter-content .newslettert-text h3 {
      font-size: 48px;
    }
    .single-inner {
      width: 50%;
    }
    .single-footer .location .location-text {
      float: left;
      width: 80%;
    }
    .single-bottom {
      width: 33.33%;
    }
    .section-title-2 h2 {
      font-size: 14px;
    }
    .single-left-product .left-content h4 a {
      font-size: 13px;
    }
    .single-left-product .left-content {
      margin-top: 0;
    }
    .product-details-2 p {
      margin-top: 5px;
    }
    .product-details-2 {
      margin-bottom: 10px;
    }
    .product-details-2 > a {
      margin-bottom: 5px;
    }
    .product-button-3 a {
      padding: 12px 25px 13px 18px;
    }
    .product-button-3 {
      padding-right: 3px;
    }
    .shop .product-details .product-rating::before {
      width: 60px;
    }
    .shop .product-details .product-rating::after {
      width: 60px;
    }
    .author-destils .author-left .author-description {
      margin-top: 0;;
    }
    .author-destils .author-left .author-description p {
      font-size: 12px;
    }
    .author-destils .author-left .author-description span {
      font-size: 12px;
    }
    .author-destils .author-right span {
      font-size: 16px;
    }
    .author-destils .author-right ul li {
      margin-left: 4px;
    }
    .author-destils .author-right {
      margin-top: 12px;
    }
    .comment-reply-wrap ul li .public-comment .comment-img {
      margin-right: 15px;
    }
    .blog-tag ul li a {
      font-size: 11px;
      padding: 6px 8px;
    }
    .single-blog-content .single-blog-title h3 {
      font-size: 26px;
    }
    .single-blog-content .blog-single-content p {
      font-size: 14px;
    }
    .youtube-video iframe {
      height: 250px;
      width: 100%;
    }
    .about-content h3, .single-misson h3 {
      font-size: 23px;
    }
    .about-content p, .single-misson p {
      font-size: 14px;
    }
    .about-content ul li a {
      font-size: 14px;
    }
    .skill-content h3 {
      font-size: 22px;
    }
    .skill-content p {
      font-size: 14px;;
    }
    .wishlist-table table .product-add-to-cart > a {
      width: 240px;
    }
    .home-2 .header-mid-area.sticky {
      display: none;
    }
    .home-2 .header-mid-area {
      padding: 25px 0 25px;
    }
    .home-2 .section-title-2 h2 {
      font-size: 22px;
    }
    .home-2 .best-seller-area {
      margin-bottom: 30px;
    }
    .home-2 .product-details .product-rating::before {
      width: 60px;
    }
    .home-2 .product-details .product-rating::after {
      width: 60px;
    }
    .home-2 .best-seller-area .product-details .product-rating::before {
      width: 98px;
    }
    .home-2 .best-seller-area .product-details .product-rating::after {
      width: 98px;
    }
    .home-2 .del-area .product-details .product-rating::before {
      width: 120px;
    }
    .home-2 .del-area .product-details .product-rating::after {
      width: 120px;
    }
    .home-3 .search-box form input {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .Category-area .Category-menu ul li .left-menu {
      width: 595px;
    }
    .mb-28 {
      margin-bottom: 22px;
    }
    .home-3 .container-inner-area .slider-content-2 {
      top: 10%;
    }
    .banner-area-4 .single-banner .banner-content h2 {
      font-size: 28px;
      padding-bottom: 8px;
    }
    .banner-area-4 .single-banner .banner-content p {
      padding: 0 30px;
    }
    .banner-area-4 .single-banner .banner-content a {
      margin-top: 5px;
    }
    .home-4 .product-area .product-wrapper {
      width: 33%;
    }
    .home-4 .product-details .product-rating::before {
      width: 56px;
    }
    .home-4 .product-details .product-rating::after {
      width: 56px;
    }
    .search-area input {
      width: 100%;
    }
    .product-details .product-rating::before {
      width: 50px;
    }
    .product-details .product-rating::after {
      width: 50px;
    }
    .payment-icon. {
      margin-top: 30px;
      text-align: left;
    }
    .single-bottom {
      width: 50%;
    }
    .single-bottom:nth-child(2),.single-inner:nth-child{
        border:none;
    }
    .single-slider .slider-content .slider-text h3 {
      padding-top: 20px;
    }
    .blog-main-wrapper {
      margin-bottom: 50px;
    }
    .your-order {
      margin-bottom: 0;
      margin-top: 50px;
    }
    .contact-info {
      margin-bottom: 40px;
      overflow: hidden;
    }
    .shop-left {
      margin-top: 40px;
    }
    .home-3 .header-mid-area {
      padding: 40px 0px 40px;
    }
    .home-4 .slider-text-3 h3 {
      font-size: 52px;
    }
    .home-4 .slider-text-3 h2 {
      font-size: 46px;
    }
    .shopping-cart {
        left: auto;
        right: 0;
    }
    .header-link ul li {
        padding-right: 20px;
    }
    .single-random .random-img {
        margin-right: 10px;
    }
    .home-4 .slider-text-3 a {
        margin-top: 4px;
    }
    .banner-area-4 .single-banner .banner-content a {
        padding: 5px 20px;
    }
    
    
    
    
    
    
    
    
    
    }
    
     
    /* small mobile :320px. */
    @media (max-width: 767px) {
    .container {width:300px}
    .main-menu-area.sticky {
      position: static;
       box-shadow: none !important;
    }
    .header-link ul li {
      padding-right: 2px;
    }
    .header-mid-area {
      padding: 15px 0 15px;
    }
    .logo-area {
      text-align: center;
    }
    .single-slider .slider-content .slider-text h1 {
      font-size: 38px;
    }
    .single-slider .slider-content .slider-text h2 {
      font-size: 21px;
      line-height: 0px;
      padding-top: 15px;
    }
    .single-slider .slider-content .slider-text h3 {
      font-size: 21px;
      padding-top: 6px;
      margin-bottom:0;
    }
    .single-slider .slider-content .slider-text a {
      font-size: 13px;
      margin-top: 0;
      padding: 9px 0 0;
    }
    .single-banner .banner-title h3 {
      font-size: 16px;
    }
    .tab-menu ul li a {
      font-size: 18px;
      margin: 0 2px;
      padding: 0 8px;
    }
    .tab-menu ul li a::before {
      bottom: -2px;
    }
    .banner-text h1 {
      font-size: 60px;
      line-height: 75px;
    }
    .banner-text h2 {
      font-size: 18px;
      margin: 0 0 15px;
    }
    .banner-text p {
      font-size: 15px;
    }
    .banner-text a {
      font-size: 20px;
      height: 48px;
      line-height: 48px;
      margin-top: 10px;
    }
    .banner-area-2 {
      min-height: 350px;
    }
    .banner-text {
      padding-top: 24px;
    }
    .section-title h2 {
      font-size: 20px;
    }
    .single-post {
      margin-bottom: 30px;
    }
    .single-post .post-content {
      bottom: 40px;
    }
    .single-post .post-content h3 a {
      font-size: 18px;
      margin: 0px 0 6px;
    }
    .newsletter-content .newslettert-text h3 {
      font-size: 28px;
    }
    .newsletter-content .newslettert-text p {
      font-size: 14px;
      margin-bottom: 30px;
    }
    .newsletter-content .newslettert-form .newsletter-button a i {
      padding-right: 4px;
    }
    .newsletter-content .newslettert-form {
      width: 84%;
    }
    .newsletter-content .newslettert-form .newsletter-button a {
      font-size: 11px;
      padding: 0 8px;
    }
    .newsletter-content .newslettert-form {
      padding-left: 8px;
    }
    .newsletter-content .newslettert-form input {
      padding-left: 8px;
      padding-right: 83px;
    }
    .single-inner {
      width: 100%;
    }
    .single-inner.border-right {
      border-right:0;
    }
    .single-footer {
      margin-bottom: 30px;
    }
    .footer-mid-area .copy-right-area {
      margin-bottom: 30px;
      text-align: center;
    }
    .footer-mid-area .footer-catagory {
      margin-bottom: 30px;
    }
    .single-bottom.border-right-2 {
      border-right:0;
    }
    .footer-mid-area .payment-icon {
      text-align: center;
    }
    .newsletter-content .newslettert-form input {
      width: 210px;
    }
    .product-info-main {
      margin-top: 30px;
    }
    .product-social-links .product-addto-links a {
      font-size: 12px;
      padding: 10px 8px;
      margin-bottom: 5px;
    }
    .review-right {
      float: none;
      margin-top: 30px;
      padding-left: 0;
    }
    .review-left {
      display: inline-block;
      float: none;
    }
    .review-form {
      padding-left: 0;
    }
    .review-form .single-form form {
      padding-left: 0;
    }
    .review-form .single-form-2 form {
      padding-left: 0;
    }
    .review-form .single-form form textarea {
      margin-left: 0;
      width: 228px;
    }
    .review-form .single-form form input {
      width: 228px;
    }
    .list-page {
      display: inline-block;
      float: none;
      margin-top: 12px;
      padding-right: 0;
    }
    .shop-tab .tab-menu {
      float: right;
    }
    .toolbar-sorter {
      margin-bottom: 20px;
    }
    .product-button-3 a {
      font-size: 14px;
      padding: 14px 17px 14px 16px;
    }
    .product-button-3 {
      display: inline-block;
      float: left;
      padding-right: 0px;
    }
    .add-to-link-3 {
      margin-top: -2px;
    }
    .product-wrapper-2 {
      margin-bottom: 10px;
    }
    .single-login input#rememberme {
      margin-left: 20px !important;;
    }
    .author-destils .author-left {
      float: none;
      width: 100%;
    }
    .author-destils .author-left .author-description {
      margin-top: 0;
    }
    .author-destils .author-right {
      float: none;
      margin-top: 25px;
      width: 100%;
    }
    .single-blog-content .single-blog-title h3 {
      font-size: 25px;
    }
    .single-blog-content .blog-single-content p {
      font-size: 13px;
    }
    .single-blog-content .blog-single-content blockquote {
      font-size: 16px;
    }
    .comment-tag p {
      font-size: 13px;
    }
    .sharing-post .share-text span {
      font-size: 16px;
      margin-right: 8px;
    }
    .sharing-post .share-icon ul li {
      padding-left: 12px;
    }
    .comment-reply-wrap ul li .public-comment .comment-img {
      width: 14%;
    }
    .comment-reply-wrap ul li .public-comment .public-text {
      width: 72%;
    }
    .comment-reply-wrap ul li .public-comment .public-text .single-comm-top p {
      font-size: 13px;
    }
    .comment-reply-wrap ul li .public-comment .public-text .single-comm-top p a {
      font-size: 15px;
       padding-left: 0px;
    }
    .comment-reply-wrap ul li .public-comment-2 {
      margin-left: 0;
    }
    .comment-title-wrap h3 {
      font-size: 20px;
    }
    .about-content {
      margin-top: 30px;
    }
    .about-content ul li a {
      font-size: 14px;
    }
    .single-misson {
      margin-bottom: 30px;
    }
    .single-counter {
      margin-bottom: 30px;
    }
    .single-team {
      margin-bottom: 30px;
    }
    .skill-content h3 {
      font-size: 20px;
    }
    .skill-content p {
      font-size: 15px;
    }
    .skill-content {
      margin-bottom: 30px;
    }
    .contact-form {
      margin-top: 30px;
    }
    .contact-info ul li {
      font-size: 11px;
    }
    .page .entry-header p {
      font-size: 18px;
    }
    .page .entry-content p {
      font-size: 14px;
    }
    .wishlist-title h2 {
      font-size: 17px;
      margin-bottom: 20px;
    }
    .entry-header-title h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .buttons-cart {
      margin-top: 30px;
    }
    .buttons-cart ul li a {
      margin-right: 3px;
    }
    .buttons-cart ul li a {
        padding: 0 6px;
    }
    .coupon form a {
      margin-right: 12px;
    }
    .ship-different-title label {
      font-size: 14px;
    }
    .your-order-table table .order-total th {
      font-size: 14px;
    }
    p.checkout-coupon input[type="text"] {
      width: 148px;
    }
    .home-2 .right_herder, .home-3 .right_herder {
      margin-top: 0;
      text-align: center;
      margin-top: 10px;
    }
    .header-link {
      text-align: center;
    }
    .home-2 .search-area-2 {
      float: none;
      margin-top: 12px;
      text-align: center;
      margin-bottom: 15px;
    }
    .home-2 .search-area-2 .search-form {
      z-index: 9999999;
    }
    .home-2 .search-area-2 .search-form form a {
      right: 0px;
    }
    .single-inner-2 {
      margin-bottom: 30px;
    }
    .del-area {
      margin-top: 30px;
    }
    .del-area .product-details p {
      display: none;
    }
    .home-2 .header-mid-area.sticky {
      display: none;
    }
    .del-area .product-details .product-rating::before {
      left: 0;
      width: 70px;
    }
    .del-area .product-details .product-rating::after {
      right: 0;
      width: 70px;
    }
    .home-2 .del-area .add-to-link {
      top: 32%;
    }
    .timer .counting {
      height: 45px;
      line-height: 40px;
      width: 40px;
    }
    .home-2 .search-area-2 .search-form {
      right: 4px;
    }
    .home-2 .search-area-2:hover .search-form {
      top: 45px;
    }
    .home-3 .header-bottom {
      background: #0168b0 none repeat scroll 0 0;
    }
    .single-random .random-img {
      float: none;
      margin-right: 0;
      text-align: center;
      width: 100%;
    }
    .single-random .random-content {
      float: none;
      text-align: center;
    }
    .border-right-3 {
      border-right: medium none;
    }
    .home-3 .container-inner-area .slider-text-2 a {
      margin-top: 6px;
    }
    .home-3 .container-inner-area .slider-content-2 {
      top: 50%;
      transform: translateY(-50%);
    }
    .home-4 .block_search-area {
      float: none;
      width: 100%;
      margin-bottom:10px;
    }
    .banner-area-4 .single-banner .banner-content h2 {
      font-size: 14px;
      padding-bottom: 8px;
    }
    .banner-area-4 .single-banner .banner-content a {
      margin-top: 5px;
    }
    .home-4 .slider-text-3 h1 {
      font-size: 20px;
      margin: 6px 0;
    }
    .home-3 .search-box form input {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .home-4 .slider-text-3 h2 {
      font-size: 16px;
    }
    .banner-area-4 .single-banner{
        margin-bottom:30px;
    }
    .home-4 .slider-text-3 p {
      font-size: 6px;
      margin-bottom: 4px;
    }
    .home-4 .product-area .product-wrapper {
      float: none;
      width: 100%;
    }
    .home-4 .product-area .product-wrapper {
      border-left: 1px solid #e5e5e5;
    }
    .wellcome-area. {
      margin-top: 5px;
      text-align: center;
    }
    .shopping-cart {
      width: 280px;
    }
    .search-area input {
      width: 100%;
    }
    .search-area {
      margin-top: 12px;
    }
    .tab-menu ul li {
      margin-bottom: 8px;
    }
    .single-bottom {
      text-align: center;
      width: 100%;
    }
    .blog-main-wrapper {
      margin-bottom: 40px;
    }
    .your-order {
      margin-bottom: 0;
      margin-top: 50px;
    }
    .shop-left {
      margin-top: 40px;
    }
    .field-limiter .label-title {
      padding-right: 2px;
    }
    .home-3 .header-mid-area {
      padding: 40px 0px 40px;
    }
    .home-3 .shopping-cart {
      left: -145px;
    }
    .home-3 .container-inner-area .slider-text-2 h2 {
      font-size: 20px;
    }
    .home-3 .container-inner-area .slider-text-2 h1 {
      font-size: 12px;
      margin-bottom: 0;
    }
    .home-3 .container-inner-area .slider-text-2 h2 span {
      font-size: 17px;
    }
    .home-3 .container-inner-area .slider-text-2 h3 {
      font-size: 16px;
    }
    .home-3 .container-inner-area .slider-text-2 a {
      font-size: 12px;
      padding: 6px 30px;
    }
     .static-header {
      float: none;
      margin-top: 30px;
      text-align: center;
      width: 100%;
    }
    .home-4 .slider-text-3 h3 {
      font-size: 18px;
    }
    .home-4 .slider-text-3 a {
      font-size: 12px;
      margin-top: 0px;
      padding: 4px 24px;
    }
    .home-4 .block_search-area {
      padding-top: 30px;
    }
    .banner-area-4 .single-banner .banner-content p {
      font-size: 10px;
      margin-top: 10px;
      padding: 0 16px 0px;
    }
    .banner-area-4 .single-banner .banner-content a {
      font-size: 11px;
      margin-top: 20px;
      padding: 6px 25px;
    }
    .wellcome-area {
        float: none;
        text-align: center;
        margin: 5px 0px 0;
    }
    .right_herder {
        float: none;
        text-align: center;
    }
    .shopping-cart {
        left: -135px;
    }
    .footer-mid-area .payment-icon {
        float: none;
    }
    .login-form .single-login a {
        float: none;
        width: 100%;
    }
     .single-login input#rememberme {
        margin-left: 0 !important;
    }
    .single-login input#rememberme {
        float: none;
    }
     .single-login-2 span {
        float: none;
    }
    .home-2 .tab-active-2.owl-carousel .owl-nav button, .tab-active-3.owl-carousel .owl-nav button, .tab-active-4.owl-carousel .owl-nav button {
        left: -8px;
    }
     .home-2 .tab-active-2.owl-carousel .owl-nav button.owl-next, .tab-active-3.owl-carousel .owl-nav button.owl-next, .tab-active-4.owl-carousel .owl-nav button.owl-next {
        right: -10px;
    }
     .single-random .random-img a {
        display: inline-block;
    }
     
     
     
    }
     
    /* Large Mobile :480px. */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {width:450px}
    .single-inner {
      padding: 35px 114px;
    }
    .newsletter-content .newslettert-form input {
      width: 268px;
    } 
     .banner-text h2 {
      font-size: 28px;
    }
     .header-link {
      text-align: center;
    }
    .review-form .single-form label {
      float: none;
      text-align: left;
      display:block;
    } 
     .review-form .single-form form input {
      width: 378px;
    }
    .review-form .single-form form textarea {
      width: 378px;
    } 
     .product-details .product-rating::before {
      width: 48px;
    }
    .product-details .product-rating::after {
      width: 48px;
    } 
     .toolbar-sorter a {
      padding-left: 2px;
      padding-right: 7px;
    }
     .list-page {
      margin-top: 8px;
    }
    .shop .product-details .product-rating::before {
      width: 110px;
    }
    .shop .product-details .product-rating::after {
      width: 110px;
    }
     .product-button-3 a {
      padding: 12px 30px 13px 55px;
       font-size: 18px;
    }
    .product-button-3 {
      padding-right: 15px;
    } 
     .home-4 .product-details .product-rating::before {
      width: 46px;
    }
     .home-4 .product-details .product-rating::after {
      width: 46px;
    }
     .static-header {
      padding-left: 100px;
    }
     .home-4 .slider-text-3 p {
      font-size: 9px;
      margin-bottom: 8px;
    }
     .shop-tab .tab-menu ul li {
        padding-left: 4px;
    }
    .shop-tab .tab-menu ul li a {
        height: 40px;
        line-height: 40px;
        width: 40px;
    }
     .shop-tab {
        display: flex;
        justify-content: space-between;
    }
     
     
     
     
     
    }